body {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}

.font-family-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.ballstreet-logo-full {
  background: url(assets/icons/ballstreet-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 300px;
}

.ballstreet-logo-small {
  background: url(assets/icons/ballstreet-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 150px;
}

.ballstreet-logo-only {
  background: url(assets/icons/ballstreet-logo-only-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 300px;
}

.ballstreet-logo-only-violet {
  background: url(assets/icons/ballstreet-logo-only-violet-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 300px;
}

.bg-green {
  background-color: #47b39d;
}

.bg-yellow {
  background-color: #ffc153;
}

.bg-red {
  background-color: #eb6b56;
}

.bg-pink {
  background-color: #b05f6d;
}

.bg-violet {
  background-color: #462446;
}

.bg-dark-blue {
  background-color: #355C7D;
}

.bg-light-blue {
  background-color: #4FC1E9;
}

.text-green {
  color: #47b39d;
}

.text-yellow {
  color: #ffc153;
}

.text-red {
  color: #eb6b56;
}

.text-pink {
  color: #b05f6d;
}

.text-violet {
  color: #462446;
}

.text-dark-blue {
  color: #355C7D;
}

.text-light-blue {
  color: #4FC1E9;
}

a:hover, a:active {
  text-decoration: underline;
  color: inherit;
}

.bg-game-of-skill {
  background: url(assets/images/bg-game-of-skill-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

.bg-index-sign-in {
  background: url(assets/images/bg-index-sign-in-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

.bg-index-sign-up {
  background: url(assets/images/bg-index-sign-up-low.png) center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

.font-size-12pc {
	font-size: 12px;
}

/* not active */
.getStartedInactive {
  background-color: white !important;
  color: #462446 !important;
  border-radius: 0.25rem;
  padding: 5px;
}

.removeTextDecoration.removeTextDecoration:hover{
  text-decoration: none !important;

}

.getStartedActive {
  background-color: #462446 !important;
    color: white !important;
    border-radius: 0.25rem;
    padding: 5px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-16pc {
  font-size: 16px;
}

.font-size-14pc {
  font-size: 14px;
}
